<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewBag.Title - AlarmWorkflow.Website.Reports</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @Styles.Render("~/content/bootstrap")
        @Styles.Render("~/content/mainDesign")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <!--<li role="presentation" class="active"><a href="#">Home</a></li>-->
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <!--<li>@Html.ActionLink("Alarme", "Index", "Reporting/Alarms")</li>-->
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, null)</li>
                    </ul>
                </nav>
                <h3 class="text-muted">@Html.ActionLink("OpenFireSource - AlarmWorkflow", "Index", "Home", new { area = "" }, null)</h3>
            </div>

            @RenderSection("featured", required: false)

            <div>
                @RenderBody()
            </div>

            <footer class="footer">
                <p>&copy; 2012 - @DateTime.Now.Year - <a href="http://openfiresource.de">OpenFireSource</a></p>
            </footer>
        </div> <!-- /container -->

            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
