@{
    Layout = "IndexLayout.cshtml";
    ViewBag.Title = "Alarmanzeige";

    var config = AlarmWorkflow.Website.Reports.Areas.Display.Models.WebsiteConfiguration.Instance;
}

<!-- Stylesheets -->
<link rel="stylesheet" href="@Styles.Url("~/Content/app/area-alarm-index.css")" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Page contents -->
<!-- Pane initially shown -->
<div id="paneLoading">
    <span>Lade, bitte warten...</span>
</div>
<!-- Pane to be displayed in case of an error-->
<div id="paneError" ng-if="!result.success">
    <span>Ein Fehler ist aufgetreten.<br /> Bitte sehen Sie in den Serverlogs nach.</span>
</div>
<!-- Pane to be displayed in case of no operation and no error-->
<div id="paneIdle" ng-if="result.op == null && result.success">
    <span>Es liegt kein Einsatz vor.</span>
</div>
<!-- Pane to be displayed otherwise -->
<div id="paneOperation" ng-hide="result.op == null">
    <div class="row" ng-style="{'height' : op.Einsatzort.HasGeoCoordinates ? '18%' : '33%' }">
        <div class=" col-xs-6 alarm"><span class="alarm">{{op.Picture}}</span></div>
        <div class="col-xs-6 alarm"><span class="alarm">{{op.Keywords.Keyword}} {{op.Keywords.EmergencyKeyword}} {{op.Keywords.B}} {{op.Keywords.R}} {{op.Keywords.S}} {{op.Keywords.T}}</span></div>
    </div>
    <div class="row" ng-style="{'height' : op.Einsatzort.HasGeoCoordinates ? '25%' : '36%' }">
        <div class="col-xs-6 alarm"><span class="alarm">{{op.Einsatzort.Street}} {{op.Einsatzort.StreetNumber}} {{op.Einsatzort.ZipCode}} {{op.Einsatzort.City}}</span></div>
        <div class="col-xs-6 alarm"><span class="alarm">{{op.Comment}}</span></div>
    </div>
    <div class="row" style="height: 39%;" ng-init="true" ng-hide="!op.Einsatzort.HasGeoCoordinates">
        <div class="col-xs-6 alarm-map"><div class="opcell" id="ogoogle"></div></div>
        <div class="col-xs-6 alarm-map"><div class="opcell" id="oosm"></div></div>
    </div>
    <div class="row" ng-style="{'height' : op.Einsatzort.HasGeoCoordinates ? '18%' : '33%' }">
        <div class=" col-xs-12 alarm" id="orsc"></div>
    </div>

    <div>
        <a href ng-click="reset()">Einsatz erledigt!</a>
    </div>
</div>
<div>

</div>

@section scripts {

    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"> </script>

    <script type="text/javascript">

        console.log("Setting configuration for javascript...");

        // Declare global variable for script usage.
        var config = {
            home: "@(config.Home)",
            mapTypeGoogle: @(config.MapTypeGoogle),
            showRoute: @(config.Route.ToString().ToLower()),
            updateIntervalMs: @(config.UpdateIntervalMs),
            useTilt: @(config.Tilt.ToString().ToLower()),
            useTraffic: @(config.Traffic.ToString().ToLower()),
            zoomControl: @(config.ZoomControl.ToString().ToLower()),
            zoomLevel: @((config.GoogleZoomLevel/100.0).ToString().Replace(',','.')),
            zoomLevelOSM: @(config.OSMZoomLevel),
        };

    </script>

    <script type="text/javascript" src="~/Areas/Display/Scripts/index.js"></script>
}