@{
    Layout = "IndexLayout.cshtml";
    ViewBag.Title = "Alarmanzeige";

    var config = AlarmWorkflow.Website.Reports.Areas.Display.Models.WebsiteConfiguration.Instance;
}

<!-- Stylesheets -->
<link rel="stylesheet" href="@Styles.Url("~/Content/app/area-alarm-index.css")" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

<!-- Page contents -->
<!-- Pane initially shown -->
<div id="paneLoading">
    <span>Lade, bitte warten...</span>
</div>
<!-- Pane to be displayed in case of an error-->
<div id="paneError">
    <span>Ein Fehler ist aufgetreten.<br /> Bitte sehen Sie in den Serverlogs nach.</span>
</div>
<!-- Pane to be displayed in case of no operation and no error-->
<div id="paneIdle">
    <span>Es liegt kein Einsatz vor.</span>
</div>
<!-- Pane to be displayed otherwise -->
<div id="paneOperation">
    <table>
        <tr style="height: 17%;">
            <td class="alarm"><span class="alarm" id="opicture"></span></td>
            <td class="alarm"><span class="alarm" id="okeywords"></span></td>
        </tr>
        <tr style="height: 25%;">
            <td class="alarm"><span class="alarm" id="oaddress"></span></td>
            <td class="alarm"><span class="alarm" id="ocomment"></span></td>
        </tr>
        <tr style="height: 40%;">
            <td class="alarm opcolumn">
                <div class="opcell" id="ogoogle"></div>
            </td>
            <td class="alarm opcolumn">
                <div class="opcell" id="oosm"></div>
            </td>
        </tr>
        <tr style="height: 18%;">
            <td class="alarm" colspan="2" id="orsc"></td>
        </tr>
    </table>
    <div>
        <a href="javascript:void(0);" onclick="reset(); return false;">Einsatz erledigt!</a>
    </div>
</div>

@section scripts {

    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"> </script>

    <script type="text/javascript">

        console.log("Setting configuration for javascript...");

        // Declare global variable for script usage.
        var config = {
            home: "@(config.Home)",
            mapTypeGoogle: @(config.MapTypeGoogle),
            showRoute: @(config.Route.ToString().ToLower()),
            updateIntervalMs: @(config.UpdateIntervalMs),
            useTilt: @(config.Tilt.ToString().ToLower()),
            useTraffic: @(config.Traffic.ToString().ToLower()),
            zoomControl: @(config.ZoomControl.ToString().ToLower()),
            zoomLevel: @((config.GoogleZoomLevel/100.0).ToString().Replace(',','.')),
            zoomLevelOSM: @(config.OSMZoomLevel),
        };

    </script>

    <script type="text/javascript" src="~/Areas/Display/Scripts/index.js"></script>
}